# --- database settings ---

SECRET_KEY=SecretKEY!
DATABASE_URL=postgresql://postgres:[YOUR_PASSWORD]@db.wnoudssrwlvaxotmgbkh.supabase.co:5432/postgres

# --- cookie token ---

COOKIE_SECRET==!!!SECRET!!!

FRONTEND_URL= your localhost (http://localhost:5173)
NODE_ENV=development

# ---- cloudinary api keys ---

CLOUDINARY_API_KEY=!!!SECRET!!!
CLOUDINARY_API_SECRET=!!!SECRET!!!
CLOUDINARY_CLOUD_NAME=!!!SECRET!!!



