.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 20px;
}


.login-box {
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}


.login-box h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  color: #ef0707;
}

.login-box label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #252525;
}

.login-box input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 18px;
  font-size: 15px;
}
.login-box input:focus {
  outline: none;
  border-color: #dc4d34;
  box-shadow: 0 0 4px rgba(220, 77, 52, 0.4);
}


.login-box button {
  width: 107%;
  padding: 12px;
  background: #dc4d34;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.login-box button:hover {
  background: #ff7f69;
}

.login-box p {
  text-align: center;
  margin-top: 15px;
  color: #444;
}

.login-box a {
  color: #f95d2a;
  text-decoration: none;
}

.login-box a:hover {
  text-decoration: underline;
}


.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 0;
  top: 53%;
  transform: translateY(-53%);
  background: none;
  border: none;
  cursor: pointer;
}
